/*
Creating a mixin: Sort of a function to Promote DRY
*/
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}



header {
    background-color: #fffadf;
    height: 100vh;
    @include flexCenter(column);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $textColor;
    button {
        background: $primaryBtn;
        &:hover {
            background: rgb(52, 52, 150)
        }
        &::after {
            content: "Helloooooo"
        }
    }
}